.bi {
    width: 50px;
    height: 45px;
    vertical-align: 10%;
}

.amountStyle {
    display: inline-block;
    width: 18px;
    height: 18px;
    color: white;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    font-size: 15px;
    position: absolute;
    text-align: center;
    line-height: 17px;
}
