.titleGreetings {
    text-align: center;
    color: #007ee5;
}

.card {
    margin-top: 5%;
    border: 1px solid #007ee5 ;
}

.card:hover {
    box-shadow: 7px 7px 4px 0px rgba(0,0,0,0.75);
}

.card img {
    width: 350px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 400px){
    .card img {
        width: 280px;
    }
}